.mainLogin {
    background: url(../images/background-login.svg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60%;
}

.mainLogin button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #C31626;
    color: white;
    font-size: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: 25px;
}

.mainLogin button:hover {
    width: 200px;
    height: 55px;
}

.mainLogin button img {
    width: 30px;
    margin-left: 10px;
}

.mainLogin p {
    font-size: 36px;
    font-weight: bold;
}