.aboutStats div img {
    width: 90%;
    margin-right: 10px;
}

.aboutStats div p {
    font-size: 22px;
    padding: 20px 0;
    font-weight: 600;
    text-align: center;
}

.aboutStats div span {
    color: #C31626;
}