header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    height: 60px;
    padding: 3px;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

header div, nav {
    display: flex;
}

header nav img {
    width: 30px;
    height: 30px;
    align-self: center;
}

.animate__animated.animate__bounceInRight {
    --animate-duration: 0.7s;
}

.hideNav {
    display: none;
}

.showNav {
    display: block;
}

.nav-links {
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30px;
    transition: .5s;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-links li {
    list-style: none;
    line-height: 55px;
}

.logo-menu {
    position: fixed;
    bottom: 0;
    width: 60%;
    margin: 0 20px 10px 0;
}

.close-menu {
    margin-top: 10px;
    width: 25px;
    align-self: flex-end;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.exit {
    margin-top: 20px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8) !important;
}

.userImageHeader {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.8));
}