.section-top {
    padding: 15px;
    background: #3E1921;
    color: #FFA9AB;
    box-shadow: 0px 4px 15px #000000;
    border-radius: 20px;
    margin-top: 20px;
}

.section-top h2 {
    text-align: center;
    color: #FFB654;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

.box-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-cards div {
    width: 30%;
    /* padding: 5px; */
    text-align: center;
}

.box-cards div img {
    max-width: 50%;
}

.box-cards figure img {
    max-width: 100%;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.8);
}

.box-cards figure figcaption {
    font-size: 13px;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.box-cards div:nth-child(1) {
    order: 2;
    margin: 0 10px;
}

.box-cards div:nth-child(1) {
    padding-bottom: 20px;
    /* color: black; */
}

.box-cards div:nth-child(2) {
    order: 1;
    margin-top: 30px;
}

.box-cards div:nth-child(3) {
    margin-top: 30px;
    order: 3;
}

.info-card {
    padding-top: 20px;
    color: white;
    margin: auto;
    font-weight: 500;
}

.info-card button {
    width: 170px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background: #C31626;
    font-size: 15px;
    font-weight: 900;
    margin-top: 10px;
}

.info-card button a {
    text-decoration: none;
    color: #3E1921;
}

.info-card span {
    color: #FFB654;
    text-decoration: underline;
}