@import url('http://fonts.cdnfonts.com/css/tisa-sans-pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tisa Sans Pro', sans-serif;
}

main {
  /* margin: 0 10px; */
}