@import url('http://fonts.cdnfonts.com/css/tisa-sans-pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tisa Sans Pro', sans-serif;
}

@media screen and (min-width: 700px) {
  .mainLogin p {
    max-width: 700px;
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  .mainLogin {
    padding-bottom: 30% !important;
  }

  .main-general {
    max-width: 750px;
    margin: auto;
  }

  .cardIllustration img {
    max-width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .mainLogin p {
    font-size: 45px !important;
  }

  .containerCards {
    max-width: 1000px;
    margin: auto;
  }

  .containerCards img {
    max-width: 50% !important;
  }
}

@media screen and (min-width: 1400px) {
  .mainLogin {
    background: url(./images/teste2.svg) no-repeat !important;
    background-size: auto !important;
    background-position: center !important;
    padding-bottom: 20% !important;
  }
}