* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(244, 232, 220, 0.7);
  font-family: 'Poppins', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

main {
  margin: 0 10px;
}